html,
body {
    height: 100%;
    margin: 0;
}

.master-detail {
    display: flex;
    height: 100%;
    width: 100%;
}

.master, .detail {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.master {
    background: #EAEAEA;
    border: 1px solid #CCC;
    flex: 0 0 200px;
}

.detail {
    background: #f0f0f0;
    flex: 2;
}

.scroll {
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0px;
    height: 100%;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}

.item__part:not(:last-child) {
    margin-bottom: 5px;
}



@media (spanning: single-fold-vertical) {
    .master {
        flex: 0 0 env(fold-left);
        margin-right: env(fold-width);
    }

    .detail {
    }

}

@media (spanning: single-fold-horizontal) {
    .master-detail {
        flex-direction: column;
    }

    .master {
        flex: 0 0 env(fold-top);
        margin-bottom: env(fold-height);
    }

    .detail {
    }

    .item__part:not(:last-child) {
        margin-bottom: 0;
    }
    .item__part:not(:last-child):after {
        content: " - ";
    }



}

@media (spanning: none) {
}